
#navbar{
  // animation: navbar-on-scroll-zero 1s;
}

@keyframes navbar-on-scroll-zero {
  0%{
    right: -180rem;
 }
  100%{
    right: 0;
  }
}


.coded-navlink,
#navLinks li:hover {
  position: relative;
  a {
    text-decoration: line-through !important;
  }
}
.coded-navlink:before,
#navLinks li:hover::before {
  content: "<";
  left: -15px;
  position: absolute;
  color: white;
}
.coded-navlink::after,
#navLinks li:hover::after {
  content: "/>";
  margin-left: 5px;
  position: absolute;
  color: white;

}

#navLinks a:focus {
  color: var(--gray-color) !important;
}


@keyframes logo {
  0% {
    right:0;
  }
  20% {
    right: 4rem;
  }
  100% {
    right: 0;
  }
}

@keyframes logo-reverse {
  0% {
    right: 12rem;
  }

  100% {
    right: 0;
  }
}

@keyframes logo-text-animation {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


.overlay {
  animation: overlay 0.6s forwards;
  box-shadow: -1px 0px 0px 0px #a8ac8f;
}

@keyframes overlay {
  0% {
    width: 0px;
  }
  100% {
    width: 20rem;

    
  }
}

@keyframes close-overlay {
  0% {
    width: 20rem;
  }
  100% {
    width: 0px;
  }
}

.burgermenu{
  transition: 0.5s;
}

@keyframes burgermenu-animation{
  0%{
    right: 5rem;
  }
  100%{
    right: 21rem;
  }
}

@keyframes burgermenu-close-animation {
  0%{
    right: 21rem;
  }
  100%{
    right: 5rem;
  }
}

@keyframes sidebar-open{
  0%{
    position: relative;
    right: 0px;
  }
  100%{
    position: relative;
    right:20rem;
  }
}

@keyframes sidebar-close{
  0%{
    position: relative;
    right: 20rem;
  }
  100%{
    position: relative;
    right:0px;
  }
}
