.carousel-container{
    height: 80vh;
    overflow-x: hidden;
    // transform: translateX(0vw);
    display: flex;
    transition: 1s;
}

.carousel-card{
    display: flex;
    width: 1200px;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img{
        width: max(14vw,100px);
        height: max(14vw,100px);
        border-radius: 50%;
        border: 2px #92611e solid;
    }
    p{
        font-size: 1.6rem !important;
        @media screen and (min-width: 600px){
            font-size: 1rem !important;
        }
    }
    h3{
        font-size: 1.6rem !important;
        @media screen and (min-width: 600px){
            font-size: 1rem !important;
        }
    }
}

.rec.rec-arrow {
    color: #fff;
    font-size: 5rem;
    padding: 0 !important;
    background-color: #92611e;
    border: 0px solid #000;
    margin: 0 1rem;
    @media (min-width:768px){
        font-size: 2rem;
    }
    @media (min-width:2000px){
        font-size: 3rem;
        width: 150px;
        height: 120px;
    }
}

.rec.rec-arrow:hover{
    background-color: #fff !important;
    border: 1px solid #92611e;
    color: #92611e !important;
}
.rec.rec-arrow:focus{
    background-color: #fff !important;
    border: 1px solid #92611e;
    color: #92611e !important;
}