.typing{
  position: relative;
}

.typing::after{
  content: '|';
  width: 100%;
  background-color: white;
  position: absolute;
  right: 0;
  animation: flashing 450ms infinite, typing-animation steps(4) 2s infinite alternate;
}

@keyframes typing-animation {
  0%{
    width: 0;
  }
  100%{
    width: 130%;
  }
}

@keyframes flashing {
  50%{
    color: transparent
  }
}

.header{
  // background: url("../../assets/amsterdam.jpg");
  // background-size: contain;
}