.header{
  display: flex;
  height: 80vh;
  margin-top: 20vh;
  justify-content: space-around;
  @media screen and (max-width: 600px){
    .perfecthoneyjar{
      display: none;
    }
   .helloworldimabbas{
    height: fit-content;
      width: 100% !important;
      margin-right: unset !important;
      margin-top: unset !important;
    }
  }
  @media screen and (max-width: 799px){
    .perfecthoneyjar{
      width: 40%;

    }
    .helloworldimabbas{
      width: 50%
    }
  }

}