@font-face {
  font-family: FredokaOne;
  src: url("./fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --primary-color: #353535;
  --blue-color: #00a0d2;
  --gray-color: #f4f4f4;
}
* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

}
html {
  font-size: calc(0.2em + 1vw);
}
section {
  height: 100vh;
}


#home{
  padding-top: 10rem;
  height: 100vh;
  background-color: #bbe4f0;
    .mobile-pic{
      width: 50%;
    }  

    @media screen and (min-width:400px) {
      height: fit-content;  
    }
    @media screen and (max-width: 600px) {
        .mobile-pic{
          width: 70vw;
          max-width: 100%;
        }
    }


    @media screen and (min-width: 1024px) {
        background-image: url(./assets/header-img.png);
        background-size: cover;
        position: relative;
        height: 100vh;
        .mobile-pic{
          display: none;
        }
        }
    
  }



  
  
  