
.work-card{
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.frontWorkCard{
    transform: rotateY(0deg);
    transition:1s;
}


.backWorkCard{
    position: absolute;
    top: 0;

    background-color: #fff;
    transition:1s;
}

.back-work-description{
    margin-top: 0.6rem;
    font-size: 1.2rem;
    @media screen and (min-width: 400px) {
        font-size: .8rem;
    }
}

.back-arrow{
width:3rem;
height:3rem;
padding:0.1rem;
border-radius:50%;
background-color:#000;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
@media screen and (min-width: 400px){
    width:2rem;
    height:2rem;  
    margin-top: 5px;  
}

}

@media screen and (max-width: 768px){
    .work-card{
        // width: 26.67%;

    }
}

@media screen and (max-width: 425px){
    .work-card{
    padding: 2.5% 2.5% 5px 2.5%; 
        // width: 42.5%;
        font-size: 1.7rem;
    }
}


.card-responsiveness{
    @media screen and (min-width: 2070px) {
        height: 480px !important;
        max-width: 350px !important;
    }
    @media screen and (min-width: 2500px) {
        height: 520px !important;
        max-width: 400px !important;
    }
}